.collection {
	height: max-content;
	white-space: nowrap;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	user-select: none;
}
.collection-fade {
	-webkit-mask-image: -webkit-gradient(linear, 80% 50%, 100% 50%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	padding-right: 10%;
}
.collection p {
	white-space: wrap;
}
.collection div {
	float: none;
	margin: 0.25%;
	display: inline-block;
	zoom: 1;
}
.collection img {
	 user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
